<div id="$ID-controls" class="flipbook-controls" tabindex="-1">
    <a id="$ID-prev">&#x25c0;</a>
    <span id="$ID-pageno" class="flipbook-pageno">$START_PAGENO</span>
    <a id="$ID-next">&#x25b6;</a>
</div>
<style>
.flipbook-controls {
    padding: 5px 0;
    font-size: 16pt;
}
.flipbook-pageno {
    padding: 0 1em;
}
.flipbook-controls a {
    border: 1px solid black;
    padding: 4px 20px;
    cursor: pointer;
}
.flipbook-controls a:hover {
    text-decoration: none;
}
</style>
